In [1]:
import numpy as np
a= np.arange(20)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [2]:
#using flatten() to 1-D array
a.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [11]:
#resizing 1-D array to 3-D array
b= np.resize(a,(3,4,5))
b

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [12]:
np.ndim(b)

3

In [14]:
#converting 3-D array to 1-D array using flatten() by default order='C'
c = b.flatten()
c

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,
       14, 15, 16, 17, 18, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       11, 12, 13, 14, 15, 16, 17, 18, 19])

In [15]:
np.ndim(c)

1

In [16]:
#converting 3-D array to 1-D array using flatten() by default order='F'
d = b.flatten(order = 'F')
d

array([ 0,  0,  0,  5,  5,  5, 10, 10, 10, 15, 15, 15,  1,  1,  1,  6,  6,
        6, 11, 11, 11, 16, 16, 16,  2,  2,  2,  7,  7,  7, 12, 12, 12, 17,
       17, 17,  3,  3,  3,  8,  8,  8, 13, 13, 13, 18, 18, 18,  4,  4,  4,
        9,  9,  9, 14, 14, 14, 19, 19, 19])

In [18]:
#Ierating all element using flat

for x in d.flat:
    print(x)

0
0
0
5
5
5
10
10
10
15
15
15
1
1
1
6
6
6
11
11
11
16
16
16
2
2
2
7
7
7
12
12
12
17
17
17
3
3
3
8
8
8
13
13
13
18
18
18
4
4
4
9
9
9
14
14
14
19
19
19

In [20]:
#Ierating 6th element using flat variable
d.flat[6]

10