In [14]:
import numpy as np
a = np.arange(20)
arr = np.resize(a,(5,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [15]:
#converting 2-D array to 1-D array using numpy.ravel() by default order='C'
b = np.ravel(arr)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [18]:
#converting 2-D array to 1-D array using ndArray.ravel() by order='F'
arr.ravel(order='F')

array([ 0,  4,  8, 12, 16,  1,  5,  9, 13, 17,  2,  6, 10, 14, 18,  3,  7,
       11, 15, 19])

In [19]:
#Ierating all element using flat

for x in b.flat:
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
#Ierating 9th element using flat variable
b.flat[9]

9